node_modules/
public/
.hugo_build.lock
package-lock.json
layouts/_default/index.js
layouts/_default/index.json
assets/js/index.js
layouts/index.redirects
layouts/robots.txt
static/_headers
static/keybase.txt

*.html
*.ico
*.png
*.jp*g
*.toml
*.*ignore
*.svg
*.xml
LICENSE
.npmrc
.gitkeep
*.woff*
