import { useRuntimeConfig } from '#imports'

const config = useRuntimeConfig().public

export default [
  { UserAgent: '*' },
  { Disallow: '/whois' },
  { Disallow: '/cvc' },
  { Disallow: '/search' },
  { Disallow: '/admin' },
  { Disallow: '/keybase.txt' },
  { Host: (req) => `${config.siteHost}` },

  { BlankLine: true },
  { Comment: 'Comment here' },
  // Be aware that this will NOT work on target: 'static' mode
  { Sitemap: (req) => `${config.siteUrl}/sitemap.xml` }
]
