<div class="subscribe d-flex flex-column my-5">
  <div class="subscribe-info">
    <div class="display-6">Подпишитесь на рассылку</div>
    <div class="text-muted d-flex flex-column">
      <span>Гайды по развертыванию self-hosted сервисов, тюнингу Linux и автоматизации процессов.</span>
      <span>Только рабочие конфиги. Никакого спама.</span>
      {{/*<span>Получайте обновления о новых постах.</span>*/}}
    </div>

    <a href="https://creio.kit.com/subscribe?utm_source=creio" target="_blank" rel="nofollow noopener noreferrer" class="formkit-submit btn btn-primary btn-md mt-3 px-4">
      Подписаться
    </a>

  </div>
</div>
