a.ghost, a.gray, a.disabled
  border-radius: 2px
  padding: .4em .8em .6em
  line-height: 1

a.ghost
  background: $link-color
  box-shadow: 0 0 0 2px $link-color inset
  color: white
  transition: .1s

a.ghost:hover
  background: lighten($link-color,10%)

a.gray, a.disabled
  background: reduce(8)
  transition: background, .2s

a.gray:hover, a.disabled:hover
  color: inherit

a.gray:hover
  background: reduce(20)

.post-tag
  background: rgba($link-color,.7)
  padding: .1em .5em
  border-radius: 4px
  margin-right: .3em
  &:hover
    background: rgba($link-color,.3)
    color: inherit