.comment-list {
  @extend .list-unstyled;
}

.comment-list ol {
  list-style: none;
}

.comment-form p {
  @extend .form-group !optional;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}

.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-secondary;
}

blockquote {
  -webkit-margin-before: 1.5rem;
  -webkit-margin-after: 2.5rem;
  background-color: $beige;
  border-left: 4px solid var(--color-middle-gray-t);
  border-radius: 0 var(--sizing-sm) var(--sizing-sm) 0;
  font-size: var(--size-step-0);
  margin-block-end: 1.5rem;
  margin-block-start: 1.5rem;
  padding: 2rem;
  position: relative;
  p {
    margin: 0;
  }
}
