{{ define "main" }}
    <div class="row justify-content-center">
        {{ if ne .Params.toc false -}}
        <nav class="docs-toc{{ if ne .Site.Params.options.navbarSticky true }} docs-toc-top{{ end }} d-none d-md-block col-md-4" aria-label="Secondary navigation">
            {{ partial "sidebar/docs-toc.html" . }}
        </nav>
        {{ end -}}
        {{ if .Params.toc -}}
        <main class="docs-content col-md{{ if eq .Site.Params.options.fullWidth false }}-12{{ end }}">
        {{ else -}}
        <main class="docs-content col-lg-12 col-xl-{{ if ne .Params.full false -}}16{{ else }}12{{ end }} mx-xl-auto">
        {{ end -}}
          <h1>{{ .Title }}</h1>
          {{ if ne .Params.page_meta false -}}
            {{ partial "main/page-meta.html" . }}
          {{ end -}}
          {{ if $.Params.image -}}
          <div>
              {{- .Scratch.Set "fillImage" "1270x715 Center" -}}
              {{ partial "content/figure.html" . }}
          </div>
          {{ end -}}
            <p class="lead">{{ .Params.lead | safeHTML }}</p>
            {{ if ne .Params.toc false -}}
            <nav class="d-md-none" aria-label="Quaternary navigation">
                {{ partial "sidebar/docs-toc.html" . }}
            </nav>
            {{ end -}}
            {{ .Content }}
            {{ if not .Params.disableShare -}}
            <div>
              <a class="btn btn-outline-primary my-2"
                data-bs-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample"
              >
                Поделиться
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
              </a>
              <div class="collapse" id="collapseExample">
                {{ partial "main/share-buttons.html" . }}
              </div>
            </div>
            {{ end -}}
            {{ if .Site.Params.editPage -}}
              {{ if ne .Params.edit false -}}
              <div class="page-footer-meta d-flex flex-column flex-md-row justify-content-between">
                {{ partial "main/edit-page.html" . }}
              </div>
              {{ end -}}
            {{ end -}}
        </main>
    </div>
{{ end }}
