---
layout: redirected
sitemap: false
permalink: /archive/
redirect_to: https://creio.ctlos.ru/posts/
title: Archive
excerpt: All post.
---

{% for tag in site.tags %}
  <h2>{{ tag[0] }}</h2>
  {% for post in tag[1] %}
  <article class="post-item">
    <span class="post-item-date fs-3 text-grey-dk-000">{{ post.date | date: "%d %b %Y" }}</span>
    <h3 class="post-item-title fs-5">
      <a class="" href="{{ post.url }}">{{ post.title | escape }}</a>
    </h3>
  </article>
  {% endfor %}
{% endfor %}
