<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="{% if site.dark_theme %}dark{% else %}light{% endif %}">
{% include head.html %}
<body>
  <header class="{% if site.dark_header %}dark{% endif %}">
    {% unless site.hide_title or site.style == "minimal" %}
    <h1><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
    {% endunless %}
    {% if site.navigation %}
    <nav>
      {% for path in site.navigation %}
      {% if path.first %}
      <a href="{{ path.first[1] }}">{{ path.first[0] }}</a>
      {% else %}
      {% assign node = site.pages | where: "name", path | first %}<a href="{{ node.url | relative_url }}">{{ node.title }}</a>
      {% endif %}
      {% endfor %}
    </nav>
    {% endif %}
    {% if site.icons %}
    <nav>
      {% for link in site.icons %}
      <a class="icon" href="{{ link[1] }}"><svg><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ link[0] }}"></use></svg></a>
      {% endfor %}
    </nav>
    {% endif %}
  </header>
  {{ content }}
  <div id="scrollup">&uarr;</div>

  <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  {% if site.ya_metrika %}
  <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter{{ site.ya_metrika }} = new Ya.Metrika2({ id:{{ site.ya_metrika }}, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/{{ site.ya_metrika }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
  {% endif %}
  {% if site.comments.disqus %}
  {% if page.comments %}
  <script src="//{{ site.comments.disqus }}.disqus.com/embed.js" async></script>
  {% endif %}
  {% endif %}
  <!-- Yeps -->
  <script>
    (function (y, e, p) {
      e.YepsID = 'oXXr9AhgfhxXgDypD';
      var s = y.createElement('script');
      e[p] = e[p] || function() {
        (e[p].q = e[p].q || []).push(arguments);
      };
      s.async = true;
      s.src = 'https://widget.yeps.io/yeps.js';
      if (y.head) y.head.appendChild(s);
    })(document, window, 'Yeps');
  </script>

</body>
</html>