---
layout: default
---
{% for post in paginator.posts %}
<article>
  <header>
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
  </header>
  {{ post.excerpt }}
  {% unless papostge.excerpt == post.content %}
  <footer><a class="ghost" href="{{ post.url | relative_url }}">далее →</a></footer>
  {% endunless %}
</article>
{% endfor %}
{% if paginator.total_pages > 1 %}
<footer class="{% if site.dark_footer %}dark{% endif %}">
  <a {% if paginator.previous_page %}class="gray" href="{{ paginator.previous_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>← сюда</a>
  <span>страница {{ paginator.page }} из {{ paginator.total_pages }}</span>
  <a {% if paginator.next_page %}class="gray" href="{{ paginator.next_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>туда →</a>
</footer>
{% endif %}
