---
layout: page
title: Tags
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}
<div class="tags-expo">
  <div class="tags-expo-list">
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <a class="post-tag" data-toggle="tab" href="#{{ this_word | replace:' ','-' }}-ref">
      {{ this_word }} {{ site.tags[this_word].size }}
    </a>
    {% endunless %}{% endfor %}
  </div>
  <hr/>
  <div class="tab-content tags-expo-section">
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <div class="tab-pane" id="{{ this_word | replace:' ','-' }}-ref">
      <h2>Записи тега {{ this_word }}</h2>
      <ul class="tags-expo-posts">
        {% for post in site.tags[this_word] %}{% if post.title != null %}
        <li>
          <a class="post-title" href="{{ site.BASE_PATH }}{{post.url}}">{{post.title}}</a>
          <small class="post-date">- {{ post.date | date_to_string }}</small>
        </li>
        {% endif %}{% endfor %}
      </ul>
    </div>
    {% endunless %}{% endfor %}
  </div>
</div>
