@font-face {
  font-family: Roboto;
  font-weight: 100 900;
  font-display: swap;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("fonts/vendor/Roboto/Robotothin.woff2") format("woff2"), url("fonts/vendor/Roboto/Robotothin.woff") format("woff"), url("fonts/vendor/Roboto/Robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("fonts/vendor/Roboto/Robotothinitalic.woff2") format("woff2"), url("fonts/vendor/Roboto/Robotothinitalic.woff") format("woff"), url("fonts/vendor/Roboto/Robotothinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Light"), local("Roboto-Light"), url("fonts/vendor/Roboto/Robotolight.woff2") format("woff2"), url("fonts/vendor/Roboto/Robotolight.woff") format("woff"), url("fonts/vendor/Roboto/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("fonts/vendor/Roboto/Robotolightitalic.woff2") format("woff2"), url("fonts/vendor/Roboto/Robotolightitalic.woff") format("woff"), url("fonts/vendor/Roboto/Robotolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto"), local("Roboto-Regular"), url("fonts/vendor/Roboto/Roboto.woff2") format("woff2"), url("fonts/vendor/Roboto/Roboto.woff") format("woff"), url("fonts/vendor/Roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("fonts/vendor/Roboto/Robotoitalic.woff2") format("woff2"), url("fonts/vendor/Roboto/Robotoitalic.woff") format("woff"), url("fonts/vendor/Roboto/Robotoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("fonts/vendor/Roboto/Robotomedium.woff2") format("woff2"), url("fonts/vendor/Roboto/Robotomedium.woff") format("woff"), url("fonts/vendor/Roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("fonts/vendor/Roboto/Robotomediumitalic.woff2") format("woff2"), url("fonts/vendor/Roboto/Robotomediumitalic.woff") format("woff"), url("fonts/vendor/Roboto/Robotomediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("fonts/vendor/Roboto/Robotobold.woff2") format("woff2"), url("fonts/vendor/Roboto/Robotobold.woff") format("woff"), url("fonts/vendor/Roboto/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("fonts/vendor/Roboto/Robotobolditalic.woff2") format("woff2"), url("fonts/vendor/Roboto/Robotobolditalic.woff") format("woff"), url("fonts/vendor/Roboto/Robotobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Black"), local("Roboto-Black"), url("fonts/vendor/Roboto/Robotoblack.woff2") format("woff2"), url("fonts/vendor/Roboto/Robotoblack.woff") format("woff"), url("fonts/vendor/Roboto/Robotoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("fonts/vendor/Roboto/Robotoblackitalic.woff2") format("woff2"), url("fonts/vendor/Roboto/Robotoblackitalic.woff") format("woff"), url("fonts/vendor/Roboto/Robotoblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
